.products_grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(6, minmax(15rem, 1fr));
    padding: 10px;
    margin: 0px 100px 0px 100px;
}

.Product_container{
    font-family: "Rubik";
    letter-spacing: -0.5px;
}

.img{
    width: 100%;
    border-radius: 15px;
    aspect-ratio: 1.3 / 1;
    cursor: pointer;
    transition-duration: 0.4s;
}

.product_img:hover{
    transform: scale(1.1);
}

.product_details{
    display: flex;
    justify-content: space-between;
    padding: 0px 5px 0px 5px;
}

.product_price{
    padding-left: 5px;
    margin-top: -5px;
}

.categories_container{
    display: flex;
    font-family: "Rubik";
    margin: 10px 100px 10px 100px;
}

.category_style{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category_icon{
    font-size: 30px;
}