.products_grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(6, minmax(15rem, 1fr));
    padding: 10px;
    margin: 0px 6% 0px 6%;
}

.Product_container {
    font-family: "Rubik";
    letter-spacing: -0.5px;
}

.product_img {
    width: 100%;
    border-radius: 15px;
    aspect-ratio: 1.3 / 1;
    cursor: pointer;
    transition-duration: 0.4s;
}

.product_img:hover {
    transform: scale(1.1);
}

.product_details {
    display: flex;
    justify-content: space-between;
    padding: 0px 5px 0px 5px;
}

.product_price {
    padding-left: 5px;
    margin-top: -5px;
}

.product_oos {
    color: red;
    margin-top: -5px;
}

.buying_container {
    display: flex;
}

.buying_img {
    width: 290px;
    height: 250px;
    margin-right: 20px;
}

.buying_info {
    display: flex;
    flex-direction: column;
    font-family: "Rubik";
}

.add_product_contex{
    display: flex;
    align-items: center;
}

.image_selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error_text {
    color: red;
}

.checkbox_row {
    display: flex;
}

.checkbox_text {
    font-family: "Rubik";
}