footer{

    display: flex;
    justify-content: space-between;

    background-color: #480030;
    padding-left: 2em;
    padding-right: 2em;

    border-style: solid;
    border-width: 2px;
    border-color: #900060;
    border-left: #900060;
}