.cart_container {
    text-align: center;
}

.cart_context {
    display: flex;
    justify-content: space-between;
    padding-left: 250px;
    padding-right: 200px;
    text-align: left;
    font-family: "Rubik";
}

.cart_items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart_product_display {
    display: flex;
    height: 230px;
    margin-top: 13px;
    border-bottom: 1px solid lightgray;
}

.product_info {
    display: flex;
}

.cart_product_img {
    width: 250px;
    margin-right: 20px;
}

.cart_product_name {
    font-weight: bold;
    margin-bottom: -5px;
}

.order_info {
    width: 200px;
    margin-left: 150px;
}

.order_info_headline {
    font-weight: bold;
    margin-bottom: -10px;
}

.delete_btn {
    background-color: white;
    border: none;
}

.delete_btn :hover {
    cursor: pointer;
}

.summary_container {
    width: 250px;
    height: 200px;
}

.summary_field {
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
}

.total_field {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;
}