.cart_container {
    text-align: center;
}

.cart_context {
    display: flex;
    
    padding-left: 7%;
    padding-right: 15%;
    text-align: left;
    font-family: "Rubik";
}

.cart_items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart_product_display {
    display: flex;
    height: 230px;
    margin-top: 13px;
    margin-left: 20%;
    border-bottom: 1px solid lightgray;
}

.cart_product_img {
    width: 250px;
    margin-right: 20px;
}

.cart_product_name {
    font-weight: bold;
    margin-bottom: -5px;
}

.order_info {
    width: 450px;
    margin-left: 70px;
}

.order_info_headline {
    font-weight: bold;
    margin-bottom: -10px;
}

.delete_btn {
    background-color: white;
    border: none;
}

.delete_btn :hover {
    cursor: pointer;
}

.summary_container {
    width: 250px;
    height: 200px;
}

.summary_field {
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
}

.total_field {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;
}

.payment_succeeded {
    background-color: lightgreen;
    border: 3px solid green;
    width: 250px;
    height: 100px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: -13px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: underline;
}

.change:hover {
    cursor: pointer;
}