.manage_products_container {
    text-align: center;
}

.display_img {
    width: 290px;
    height: 250px;
    margin-right: 20px;
}

.add_button {
    font-size: 17px;
    font-family: "Rubik";
    height: fit-content;
    padding: 10px;
    background-color: #fff;
    transition-duration: 0.4s;
}

.add_button:hover {
    cursor: pointer;
    background-color: rgb(225, 225, 225);
}