.app_header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

    background-color: rgb(36, 52, 77);
    box-shadow: 0px 2px 30px 0 rgba(0,0,0,.2);
    margin-bottom: 15px;
}