:root {
    --primary-bg: #242526;
    --secondary-bg: #fff;
    --primary-text-color: #555;
    --secondary-text-color: #cecece;
    --border-radius: 20px;
    --speed: 500ms;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 7.5% 0px 7.5%;
    border-bottom: 1px solid lightgray;
}

.site_name {
    font-size: xx-large;
    font-family: 'Bebas Neue', cursive;
}

.site_name:hover {
    cursor: pointer;
}

.button {
    border-width: 1px;
    border-radius: 30px;
    display: inline-block;
    background-color: #fff;
    cursor: pointer;
    transition-duration: 0.4s;
}

.filter_button {
    font-size: 17px;
    font-family: "Rubik";
    height: fit-content;
    padding: 10px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #fff;
    transition-duration: 0.4s;
}

.dropdown_btn:hover {
    background-color: rgb(225, 225, 225);
    box-shadow: 0px 3px 5px 0 rgba(62, 62, 62, 0.30);
}

.filter_button:hover {
    cursor: pointer;
    background-color: rgb(225, 225, 225);
}

.navigation_bar {
    display: flex;
    justify-content: space-between;
    font-family: "Rubik";
    margin: 15px 7% 15px 7%;
}

.category_style {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category_icon {
    font-size: 30px;
}

ul {
    list-style: none;
}

h3 {
    text-decoration: none;
    font-weight: normal;
    font-size: medium;
    margin-top: 0px;
    margin-bottom: -5px;
}

.dropdown_menu {
    position: absolute;
    top: 90px;
    right: 105px;
    color: gray;
    background-color: #fff;
    box-shadow: 0px 3px 5px 0 rgba(62, 62, 62, 0.30);
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 250px;
    font-family: "Rubik";
}

.dropdown_menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
}

.dropdown_menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.dropdown_menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

.dropdown_menu ul li {
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown_menu ul li:hover a {
    color: black;
    cursor: pointer;
}

.dropdown_item_icon:hover {
    cursor: pointer;
}

.dropdown_item {
    display: flex;
    margin: 10px auto;
}

.dropdown_item_icon {
    max-width: 20px;
    margin-right: 10px;
    margin-top: 2px;
    opacity: 1;
    transition: var(--speed);
}

.dropdown_item h3 {
    max-width: 150px;
    margin-left: 10px;
    transition: var(--speed);
}

.dropdown_item h3:hover {
    cursor: pointer;
}