.header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 110px 0px 110px;
    border-bottom: 1px solid lightgray;
}

.site_name{
    font-size: xx-large;
    font-family: 'Bebas Neue', cursive;
}

.button {
    border-width: 1px;
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
}

.profile_btn:hover {
  box-shadow: 0px 3px 5px 0 rgba(62, 62, 62, 0.30);
}

.categories_container{
    display: flex;
    font-family: "Rubik";
    margin: 10px 100px 10px 100px;
}

.category_style{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category_icon{
    font-size: 30px;
}